<% provide(:title) %>

<div class="center jumbotron">
  <h1>Setlist.</h1>
  <p><h2>Welcome to the Setlist Application</h2></p>

  <%= link_to "Sign up/in now!", signup_path, class: "btn btn-large btn-danger", id: "button" %> 
</div>


