@import "bootstrap";

/* mixins, variables, etc.... */

$lightGrey: #999;
$white: #fff;
$grey: #555;
$greyDarker: #222;
$greyLine: #eaeaea;

@mixin box_sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;

}

body {
  padding-top: 60px;
  background-image: url("worn_dots.png");

}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
    h1 {
    margin-bottom: 10px;
  }
}

/* typeography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;

}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
} 

h2 {
  font-size: 1.7em;
  font-family: DejaVu Sans Mono;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: normal;
  color: $lightGrey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 2em;
  color: $greyDarker;
  padding-top: 6px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $greyDarker;
    text-decoration: none;
  }
}

  
/* Footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $greyLine;
  color: $lightGrey;
  a {
    color: $grey;

    &:hover {
    color: $greyDarker;
    text-decoration: none;

    }
  }
  small {
  float: left;
  } 
    ul {
    float: right;
    list-style: none;
      li {
      float: left;
      margin-left: 10px;
      }
    }
}

/* miscellanous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
  
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $greyLine;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;

}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 25%;
  height: auto;
  margin-bottom: 15px;

}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}