<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Rails Tutorial</a> by Colin Stodd
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "News",    "https://www.facebook.com/colin.stodd" %></li>
    </ul>
  </nav>
</footer>